/*Reset Styles*/
@import 'normalize.css';

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    .col-1-2 {
        width: 50%;
    }

    .col-1-3 {
        width: 33.3333%;
    }

    .col-2-3 {
        width: 66.6666%;
    }
}

@media (min-width: 48em) {
    .pull-right-sm {
        float: right;
    }
}

@media only screen and (max-width : 47.9375em) {
    .remove-gutter-xs {
        .remove-gutter-xs

{
    padding-left: 0px;
    padding-right: 0px;
}
}
}

/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/*Layout Styles*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/*Theme Styles*/
.background-primary {
    background: #F7941E; /*Orange*/
}

.background-secondary {
    background: #00AEEF; /*Blue*/
}

.background-tertiary {
    background: #8DC63F; /*Green*/
}

.background-quinary {
    background: #e7e1d7;
}

/*Base Styles*/
{
    color: #411042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

a {
    color: #8dc63f;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }

h1, h2, h3 {
    font-weight: bold;
}

/*Modules*/

/*Media Object Module*/
.media {
    overflow: hidden;
}
.media-body {
    overflow: hidden;
}
.media-item {
    float: left;
    margin-right: 0.625em;
}
    /*If you are concerned that targeting <i> is too unpredictable, you could select .fa or create .icon.*/
    .media-item i {
        color: #594a42;
        font-size: 5em;
    }

    /*Button Modules*/
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 0.063em solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 0.750em 1.875em;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 0.250em;
    /*To add a fade affect*/
    transition: all 0.3s ease 0s;
}
    /*some color style attributes*/
.btn-primary {
    background: #8DC63F;
    border-color: #8DC63F;
    color: white;
}
.btn-nav {
    color: white;
}
.btn-toggle-menu {
    position: absolute;
    top:15px;
    right:15px;
}
/*query to hide and show that button for certain devices.*/
@media (min-width: 48em) {
    .btn-toggle-menu {
        display: none;
    }
}
    /* building the style for a mouse "hover-state" appearance*/
    .btn-primary:hover {
        background: none;
        border-color: white;
        text-decoration: none;
        /*To make this button in HTML just stack the classes like this: class=".btn .btn-primary".*/
    }
/*Header Modules*/
.header-primary {
    /*to specify the color and formatting attributes*/
    background: #9B8579;
    text-align: center;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
}
/*    Logo Modules*/
.logo {
    overflow: hidden; /*The reason for overflow: hidden; is to mask part of the logo for mobile.*/
    display: inline-block;
}
/*Hero Modules*/
.hero {
    text-align: center;
}

.hero-primary {
    background-color: #594a42;
    color: white;
    padding-top: 1.563em;
    padding-bottom: 1.563em;
}
    .hero-primary.bg-image > img {
        opacity: 0.55;
    }
/*content is no longer behind the half transparent background layer*/
.hero-body {
    position: relative;
}
.hero-title {
    margin-top: 1.563em;
    margin-bottom: 1.563em;
    font-size: 2.625em;
}

.hero-subtitle {
    margin-top: 1.563em;
    margin-bottom: 1.563em;
    font-size: 1.500em;
    font-weight: normal;
}
/*a top margin for a button if one exists*/
    .hero-subtitle + button {
        margin-top: 1.563em;
    }
/*Background Modules*/
.bg-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}
    /*The reason you use the direct child selector is to limit the scope of elements selected.*/
    .bg-image > img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        min-width: 100%;
    }

/***********************
    Navigation Modules   
************************/
.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.nav-primary {
    margin-top: 2.188em;
    display: none;
}
@media (min-width: 48em) {
    .nav-primary {
        display: block;
    }
}
/*The width and height are set to 64px (of 4 em) to style out the mobile state first.*/
.logo-primary {
    width: 4.000em;
    height: 4.000em;
}
/*to specify that the logo image will scale up to fill the available space*/
    .logo-primary img {
        height: 100%;
    }

/*Scroll down to the bottom of your modules, and then add a blank code line after your final module.*/
{

}
body {
}